<section>
  <header class="page-header">
      <h1>Admin &raquo; Dashboard</h1>
  </header>
    
  <ul class="list-group container">
    <li class='list-group-item'>Total Products Count: <span class='badge'><%= @products_count %></span></li> 
    <li class='list-group-item'>Total Categories Count: <span class='badge'><%= @categories_count %></span></li> 
  </ul>
</section>
