<section class="cart-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>

  <div class="panel panel-default items">
    <% if enhanced_cart.length <= 0 %>
      <div>
        <h2 class='text-center panel-heading'>The Cart is <strong>empty</strong>!</h2>
        <p class='text-muted text-center'>Shop around and add some new products to your cart</p>
          <div class='text-center'>
            <%= link_to 'Home', :root, class: 'btn btn-info' %>
          </div>
      </div>
    <% else %>
      <%= render 'cart_items', @enhanced_cart %>
    <% end %>
  </div>

</section>
