<section class='about-page'>
  <h1>Welcome to the <strong>Jungle</strong> </h1>
  <img src="/images/Jungle.jpg" class='img-responsive' class="margin-bottom-5">

  <div class="jumbotron text-center">
    <h2>Are you in need of some odd items ? Maybe some russian spy shoes? </h2>
    <p  class='text-muted'>Then you've come to the right place. Jungle is all about the weird and crazy. Checkout our long list of oddities !</p>
              <%= link_to 'Home', :root, class: "btn btn-info btn-lg"%>
  </div>
</section>